<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 SLAMTY TETRIS</title>
    <script type="module" src="/script404.js"></script>
    <link href="/style404.css" rel="stylesheet"/>
</head>
<body>

    <div id="block">
        <a href="main.ejs"><img src="/img/retour1.jpg" alt="retour"></a>
        <h1 id="t_404">404</h1>
        <h1 id="t_slamty">SLAMTY</h1>
        <h1 id="t_tetris">TETRIS</h1>
    </div>

    <div id="score_and_nextblock">
        <h2 id="t_score">Score : <span id="score">0</span></h2>
        <!-- Ajoutons un span avec l'ID "score" pour afficher le score -->
    </div>
  
</body>
</html>